<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.BoardMapper">
    <select id="boardList" resultType="kr.smhrd.model.BoardVO">
        select * from board
    </select>
    
    <insert id="boardInsert" parameterType="kr.smhrd.model.BoardVO">
        insert into board(title, writer, contents) values(#{title}, #{writer}, #{contents})
    </insert>
    
    <select id="boardContent" resultType="kr.smhrd.model.BoardVO">
        select * from board where idx=#{idx}
    </select>
    
    <update id="boardUpdate" parameterType="kr.smhrd.model.BoardVO">
        update board set title=#{title}, writer=#{writer}, contents=#{contents}, indate=now() where idx=#{idx}
    </update>
</mapper>




