<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.FormMapper">

    <insert id="join" parameterType="kr.smhrd.model.UserVO">
        insert into userInfo(id, pw, name, userNum, deptNum, spot, position) 
        values (#{id}, #{pw}, #{name}, #{userNum}, #{deptNum}, #{spot}, #{position})
    </insert>
    
    <select id="adminAjax" resultType="kr.smhrd.model.UserVO">
        select * from userInfo u where deptNum=#{deptNum} and position='팀장'
    </select>   
    
    <insert id="formInsert" parameterType="kr.smhrd.model.FormVO">
        insert into formInfo(docuType, userId, startDate, endDate, utime, reason, adminId) 
		values (#{docuType}, #{userId}, #{startDate}, #{endDate}, #{utime}, #{reason}, #{adminId})
    </insert>
    
    <insert id="chatInsert" parameterType="kr.smhrd.model.FormVO">
        insert into formInfo(docuType, userId, startDate, endDate, utime, reason, adminId) 
		select #{docuType}, #{userId}, #{startDate}, #{endDate}, #{utime}, #{reason}, id from userInfo 
		where deptNum = (select deptNum from userInfo where id = #{userId})
		and position='팀장'
    </insert>
    
</mapper>




